import groovy.json.JsonSlurper
def JsonSlurper = new JsonSlurper()
azure_config = JsonSlurper.parse(new File("./credentials.json"))

process.container = 'nextflow/rnaseq-nf'

profiles {
  az_test {

    params.file = 'az://orange/hello/hello.txt'
    params.outdir = 'az://orange/results_test'

    process {
      executor = 'azurebatch'
    }

    azure {
      storage {
        accountName = azure_config["storageAccountName"]
        accountKey = azure_config["storageAccountKey"]
      }
      batch {
        location = 'westeurope'
        accountName = azure_config["batchAccountName"]
        accountKey = azure_config["batchAccountKey"]
        autoPoolMode = true
        allowPoolCreation = true
        pools {
          auto {
              autoScale = true
              vmType = 'Standard_D8_v3'
              maxVmCount = 10
          }
        }
      }
    }
  }

  local {
    docker.enabled = true
  }
}
