import groovy.json.JsonSlurper
def JsonSlurper = new JsonSlurper()
azure_config = JsonSlurper.parse(new File("./credentials_test_one.json"))

process.container = 'nextflow/rnaseq-nf'
// Add or modify the work directory setting
workDir = 'az://testmaindl' 

profiles {
  az_test {

    params.file = 'az://testmaindl/hello/hello.txt'
    params.outdir = 'az://testmaindl/results_test'

    process {
      executor = 'azurebatch'
    }

    azure {
      storage {
        accountName = azure_config["storageAccountName"]
        accountKey = azure_config["storageAccountKey"]
      }
      batch {
        location = 'westeurope'
        accountName = azure_config["batchAccountName"]
        accountKey = azure_config["batchAccountKey"]
        autoPoolMode = true
        allowPoolCreation = true
        pools {
          auto {
              autoScale = true
              vmType = 'Standard_D2_v3'
              maxVmCount = 10
          }
        }
      }
    }
  }

  local {
    docker.enabled = true
  }
}
